<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72681873927-7j59nsrk409v55gdqrch1ksflbq0j6q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72681873927-7j59nsrk409v55gdqrch1ksflbq0j6q1</string>
	<key>API_KEY</key>
	<string>AIzaSyD30mxKsc2PO9wPpdvgn_hAb-dIzRrPB5o</string>
	<key>GCM_SENDER_ID</key>
	<string>72681873927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecostep.ecostepapp11</string>
	<key>PROJECT_ID</key>
	<string>ecostep-d44d1</string>
	<key>STORAGE_BUCKET</key>
	<string>ecostep-d44d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72681873927:ios:0b6d183c13a82ff7e340a2</string>
</dict>
</plist>